body {
    background-color: #242424;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3 {
    font-size: 150px;
}

h2 {
    background-color: teal;
    font-size: 100px;

    /* size */
    padding: 15px;
    margin-top: 30px;
    margin-right: 250px;
    margin-left: 250px;
    border-radius: 50px;

}

a {
    /* gradient */
    background-color: teal;
    background: linear-gradient(teal, rgba(0, 128, 128, 0.75) 100%);

    /* size */
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px;
    padding: 5px;

}

img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    
}