body {
    background-color: #242424;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

p {
    background-color: teal;
    padding: 15px;
    margin-top: 30px;
    margin-right: 275px;
    margin-left: 275px;
    border-radius: 50px;
}

a {
    background-color: teal;
    color: white;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 15px;
    padding: 15px;
}

img {
    height: 50px;
    width: 50px:
}
