@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

/* Color Variables */
:root {
  --secondary: rgb(111, 149, 246);
  --background: rgb(25, 25, 25);
  --light-gray: rgb(212, 212, 212);
}

body {
  background-color: var(--background);
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

h1 {
  color: var(--light-gray);
  font-size: 75px;

  margin-top: 75px;
}

h2 {
  background-color: var(--secondary);
  font-size: 30px;

  margin-left: 2500px;
  margin-right: 2500px;
  border-radius: 15px;
  padding: 1px;
}

img {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  height: 100px;
}