@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

/* Color Variables */
:root {
  --background: rgb(111, 149, 246);
  --main-color: rgb(212, 212, 212);
}

body {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

h1 {
  color: var(--main-color);
  font-size: 75px;
}

h2 {
  background-color: var(--background);
  font-size: 30px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 20px;
  padding: 10px;
}

img {
  background-color: var(--background);
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  height: 100px;
}

img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
