@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

/* Color Variables */
:root {
  --background: rgb(111, 149, 246);
  --main-color: rgb(212, 212, 212);
}

body {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

/* NavBar */
ul {
  list-style-type: none;
  margin: 0%;
  padding: 5px; 
  overflow: hidden;
  position: absolute;
  top: 0;
  width: fit-content;

  background-color: var(--background);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li a {
  text-align: center;
  margin: 10px;
}

h2.me {
  text-align: left;
  font-size: 50px;
}
  
p.me {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

img {
  width: 25px;
  height: 25px;
}