@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

/* Color Variables */
:root {
  --background: rgb(111, 149, 246);
  --main-color: rgb(212, 212, 212);

  --cydia: rgb(142, 92, 67);
  --zebra: rgb(234, 234, 234);
  --installer: rgb(64, 175, 246);
  --sileo: rgb(28, 194, 189);

  --light-cydia: rgb(142, 92, 67, 0.4);
  --light-zebra: rgb(234, 234, 234, 0.4);
  --light-installer: rgb(64, 175, 246, 0.4);
  --light-sileo: rgb(28, 194, 189, 0.4);
}

body {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

h1 {
  color: var(--main-color);
  font-size: 75px;
}

h2 {
  background-color: var(--background);
  font-size: 30px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 15px;
}

/* Shared 'a' Properies */
a {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 75px;
  padding: 40px;
}

/* Color Specific Backgound */
a.cydia {
  background: linear-gradient(var(--cydia), var(--light-cydia));
}

a.zebra {
  background: linear-gradient(var(--zebra), var(--light-zebra));
}

a.installer {
  background: linear-gradient(var(--installer), var(--light-installer));
}

a.sileo {
  background: linear-gradient(var(--sileo), var(--light-sileo));
}

/* Package Manager Image Size and Radius */
img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: 75px;
}