@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

:root {
  --cydia: rgb(142, 92, 67);
  --zebra: rgb(234, 234, 234);
  --installer: rgb(64, 175, 246);
  --sileo: rgb(28, 194, 189);
}

body {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

h1 {
  font-size: 75px;
}

h2 {
  background-color: teal;
  font-size: 30px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding: 15px;
}

a {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 75px;
  padding: 50px;
}

/* Color Specific Backgound */
a.cydia {
  background-color: var(--cydia);
  background: linear-gradient(var(--cydia), rgba(142, 92, 67, 0.4) 100%);
}

a.zebra {
  background-color: var(--zebra);
  background: linear-gradient(var(--zebra), rgba(234, 234, 234, 0.4) 100%);
}

a.installer {
  background-color: var(--installer);
  background: linear-gradient(var(--installer), rgba(64, 175, 246, 0.4) 100%);
}

a.sileo {
  background-color: var(--sileo);
  background: linear-gradient(var(--sileo), rgba(28, 194, 189, 0.4) 100%);
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: 75px;
}