@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap);

/* Color Variables */
:root {
  --background: rgb(111, 149, 246);
  --main-background: rgb(36, 36, 36);
  --main-color: rgb(212, 212, 212);

  --cydia: rgb(142, 92, 67);
  --zebra: rgb(234, 234, 234);
  --installer: rgb(64, 175, 246);
  --sileo: rgb(28, 194, 189);

  --light-cydia: rgb(142, 92, 67, 0.4);
  --light-zebra: rgb(234, 234, 234, 0.4);
  --light-installer: rgb(64, 175, 246, 0.4);
  --light-sileo: rgb(28, 194, 189, 0.4);
}

body {
  background-color: var(--main-background);
  color: white;
  text-align: center;
  font-family: 'Fira Code';
}

/* NavBar */
ul {
  list-style-type: none;
  margin: 0%;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: fit-content;

  background-color: var(--background);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li {
  float: right;
  font-size: 20px;
}

li a {
  color: var(--main-background);
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  padding: 5px;
  text-decoration: none;

  border-radius: 15px; /* First Radius */
  transition: 1s;
}

li a:hover:not(.active) {
  background-color: var(--main-color);
  color: var(--background);

  border-radius: 8px; /* Final Radius */
  transition: 1s;
}

h1.welcome {
  color: var(--main-color);
  font-size: 75px;

  margin-top: 75px;
}

h2.package {
  background-color: var(--background);
  font-size: 30px;

  margin-left: 250px;
  margin-right: 250px;
  border-radius: 15px;
  padding: 1px;

  transition: 2s;
}

/* Shared 'a' Properies */
a.PM {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;

  border-radius: 25px;
  padding: 25px;

  filter: brightness(60%);
  transition: 1s;
}

a.cydia {
  background: linear-gradient(var(--cydia), var(--light-cydia));
}

a.zebra {
  background: linear-gradient(var(--zebra), var(--light-zebra));
}

a.installer {
  background: linear-gradient(var(--installer), var(--light-installer));
}

a.sileo {
  background: linear-gradient(var(--sileo), var(--light-sileo));
}

a:hover {
  filter: brightness(100%);
  transition: 1s;
}

/* Package Manager Image Size and Radius */
img.PM {
  height: 150px;
  width: 150px;
  border-radius: 50px;
  margin-top: 75px;
}
